* {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

#wrapper {
    width: 50%;
    margin: 0 auto;
}

thead {
    background-color: tomato;
}

td {
    width: 150px;
    height: 25px;
    line-height: 25px;
}